body {
  text-align: center;
  margin: 0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #596157;
  border-width: 5px;
  width: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.top-container {
  position: relative;
  background-color: #75daad;
  color: #216353;
  padding-bottom: 0;
}

.middle-container {
  padding-bottom: 80px;
  background-color: #f1f3f4;
  font-family: 'Lato', sans-serif;
  padding-top: 90px;
  color: black;
}

.bottom-container {
  position: relative;
  background-color: #75daad;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
  color: white;
  padding-bottom: 70px;
}

.padx {
  padding-bottom: 120px;
}

.cloud-bottom {
  width: 15%;
  margin: 0 auto;
  position: absolute;
  bottom: 50%;
  left: 20%;
}

.cloud-top {
  width: 15%;
  top: 125px;
  position: absolute;
  right: 17%;
  margin: 0 auto;
}

.mountain1 {
  width: 59%;
  margin: 0 auto;
}

#main-header {
  padding-top: 80px;
  margin: 0 auto;
  width: 50%;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
}

#main-subtitle {
  margin: 0 auto;
  width: 50%;
  padding-bottom: 200px;
  padding-top: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

#photo {
  border-radius: 50%;
}

.a {
  text-decoration: none;
}

.a:hover {
  color: white;
}

.testbutton {
  margin-top: 50px;
  padding-bottom: 10px;
  color: #596157;
  text-decoration: none;
}

.fb {
  margin-right: 10px;
  text-decoration: none;
  color: #596157;
}

.insta {
  margin-left: 10px;
  text-decoration: none;
  color: #596157;
}

.linkedin {
  text-decoration: none;
  color: #596157;
}

.linkedin:hover {
  color: white;
}

.insta:hover {
  color: white;
}

.testbutton:hover {
  color: white;
}

.copy {
  padding-top: 10px;
  color: #596157;
}

#z {
  margin-bottom: 0;
  padding-bottom: 5px;
}

.fb:hover {
  color: white;
}

.top {
  font-family: 'Lato', sans-serif;
  color: white;
  position: absolute;
  right: 5%;
  text-decoration: none;
  font-size: 15px;
}

.nav-bar {
  position: absolute;
  top: 5%;
  right: 15%;

}

.nav-bar a{
  font-family: 'Lato', sans-serif ;
  text-decoration: none;
  padding-left: 22px;
  color: #596157;
  font-size: 15px
}


.nav-bar :hover{
  color: white;
}
